{% extends 'base.html.twig' %}

{% block title %}Rockfest - Concert{% endblock %}

{% block body %}

    <div class="no-bottom no-top" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader" class="text-light" data-bgimage="url(images/background/subheader.jpg) bottom">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                
                                <div class="col-md-12 text-center">
									<h1>Concert</h1>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->
            <section aria-label="section">
                <div class="container">
                    <div class="row g-custom-x">
                    {% for concert in concerts %}
                        <div class="col-lg-4 col-md-6 mb20">
                            <div class="de-event-item">
                                <div class="d-content">
                                    <div class="d-image">
                                    {% if concert.image %}
                                        <span class="d-image-wrap"><img alt="" src="{{ asset('images/concertsUpload/' ~ concert.image) }}" class="lazy" alt="Concert Image" style="width: 400px; height: 280px; object-fit: cover;"></span>
                                    {% else %}
                                        <span class="d-image-wrap"><img alt="" src="{{asset('/images/blog/1.jpg')}}" class="lazy"></span>
                                    {% endif %}
                                        <span class="d-date">
                                            <span class="d-mm">{{ concert.StartAt ? concert.StartAt|date('M') : '' }}</span>
                                            <span class="d-dd">{{ concert.StartAt ? concert.StartAt|date('j') : '' }}</span>
                                        </span>
                                    </div>
                                    <div class="d-text">                                            
                                        <a href="{{ path('app_concert_show', {'id': concert.id}) }}"><h4>{{ concert.Name }}</h4></a>
                                        <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit cupidatat labore ad laborum consectetur consequat...</p>       
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                    </div>
                </div>
            </section>
    </div>

    <h1>Concert index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>StartAt</th>
                <th>EndAt</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for concert in concerts %}
            <tr>
                <td>{{ concert.id }}</td>
                <td>{{ concert.Name }}</td>
                <td>{{ concert.Description }}</td>
                <td>{{ concert.StartAt ? concert.StartAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ concert.EndAt ? concert.EndAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ concert.Type }}</td>
                <td>
                    <a href="{{ path('app_concert_show', {'id': concert.id}) }}">show</a>
                    <a href="{{ path('app_concert_edit', {'id': concert.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_concert_new') }}">Create new</a>
{% endblock %}
